{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="index copy.css">
    <title>Document</title>
    
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

    <!-- <style>
        
    </style> -->
</head>

<body>
    <div class="index">

        <div class="navbar">

            <h2 class="home">CodeInit</h2>
            <div class="options">
                <p class="dw">Overview</p>
                <p class="dw">About</p>
                <p class="dw">Working</p>
            </div>


        </div>

        <div class="intro">

            <h1 class="title">The FairPlay Cypher.</h1>
            <div class="intropara">A departure from traditional rote memorization,
                modern schools emphasize project-based learning.
                Students are encouraged to tackle real-world problems
                and engage in hands-on projects that require critical
                thinking, problem-solving, and collaboration. This approach
                not only fosters a deeper understanding of subject matter
                but also equips students with practical skills and the ability
                to apply their knowledge in meaningful ways.A departure from traditional rote memorization,
                modern schools emphasize project-based learning.</div>




        </div>

        <div class="third">

            <div class="third-para">

                <form action="/signup" method="POST">{% csrf_token %}
                    <div class="input1">
                        <label for="inputBox2"><b>Enter your Sentence:</b></label>
                        <input type="text" id="inputBox" class="inpu1" name="inputBox1" value={{default1}}>
                    </div>

                    <div class="input2">
                        <h1></h1>
                        <label for="inputBox1"><b>Enter your key:</b></label>
                        <input type="text" id="inputBox" class="inpu1" name="inputBox2" value={{default2}}>
                    </div>
                    <div class="buttons">
                        <button class="submit" name="action" value="0" 
                            style="font-family: 'Inclusive Sans' ;font-style: oblique ; font-size: large;"><b>Encrypt</b></button>
                        <button class="submit" value=1 name="action"
                            style="font-family: 'Inclusive Sans'; font-style: oblique ; font-size: large;"><b>Decrypt</b></button>

                    </div>

                </form>

                {% if output_data %}
                <h2>Output:</h2>

                <p>{{output_data}}</p>
                {% endif %}


            </div>

            <div class="third-scroll">


                <h1 class="heading2"
                    style=" display:flex; justify-content:  space-around; font-family: 'Inclusive Sans', sans-serif;  margin-left: 30px;">
                    Matrix Representation
                </h1>

                <div class="pc-output-value l9" style="display:flex; justify-content:  space-around;"
                    id="dialogv6411c5581d498_square">

                    <table class="matrix-table" width="100px">
                        <tbody>
                            <tr>
                                <td>{{output_data_1}}</td>
                                <td>{{output_data_2}}</td>
                                <td>{{output_data_3}}</td>
                                <td>{{output_data_4}}</td>
                                <td>{{output_data_5}}</td>
                            </tr>
                            <tr>
                                <td>{{output_data_6}}</td>
                                <td>{{output_data_7}}</td>
                                <td>{{output_data_8}}</td>
                                <td>{{output_data_9}}</td>
                                <td>{{output_data_10}}</td>
                            </tr>
                            <tr>
                                <td>{{output_data_11}}</td>
                                <td>{{output_data_12}}</td>
                                <td>{{output_data_13}}</td>
                                <td>{{output_data_14}}</td>
                                <td>{{output_data_15}}</td>
                            </tr>
                            <tr>
                                <td>{{output_data_16}}</td>
                                <td>{{output_data_17}}</td>
                                <td>{{output_data_18}}</td>
                                <td>{{output_data_19}}</td>
                                <td>{{output_data_20}}</td>
                            </tr>
                            <tr>
                                <td>{{output_data_21}}</td>
                                <td>{{output_data_22}}</td>
                                <td>{{output_data_23}}</td>
                                <td>{{output_data_24}}</td>
                                <td>{{output_data_25}}</td>
                            </tr>
                        </tbody>
                    </table>


                </div>

            </div>


        </div>
        
        <div class="about" style=" height:80px 'Newsreader'; margin-left: 40px; margin-right: 40px;font-size: 60px; font-weight: bold; margin-bottom: 0px;" ><p style="margin: 0%; margin-bottom: 10px;">About the Cypher</p> 
        </div>
        <div class="fourth" style="font-size: larger; text-align: justify; margin-left: 100px; margin-right: 100px;">

  
            <div>
                <p class="text">The Playfair cipher was the first practical digraph substitution cipher. The scheme
                    was invented in 1854 by Charles Wheatstone but was named after Lord Playfair
                    who promoted the use of the cipher. In Playfair cipher unlike traditional cipher
                    we encrypt a pair of alphabets(digraphs) instead of a single alphabet.</p>
            </div>
            <b><i>So, how does this work?</i></b>
            <br>
            <p class="algorithm-description">The algorithm has 2 steps,which are, <b><i>5x5 Key matrix generation</i></b> and <b><i> the actual encryption</i></b>. The matrix generation is simple. The first few letters of the matrix will
                be the unique letters of the “key”, in the relative order of their occurrence in the key. Then, the
                remaining alphabets are filled in alphabetic order. You may notice a problem here the number of
                alphabets is 26 while the total number of elements in matrix is 25. Hence, to make the algorithm work,
                we drop a letter, which is usually either i or j</p>

            <p class="text">Now, how exactly does the <b><i>“actual encryption”</i></b> works?</p>
            <p class="text">
                Firstly, the text to be encrypted is modified so as to be compatible with the
                algorithm. This involves two things
                • For the purpose of encryption, we have to pair two adjacent letters in the
                message. Each pair is called diagraph. Same letters cannot be paired. So,
                the message must be modified accordingly. To do this, add a bogus letter
                (say ‘x’) in place of one of them.
                • The length of the message, after satisfying above condition, must be of
                even parity. To make it even, add a bogus letter (usually ‘z’) at the last
                position of the message to complete the pair</p>
            <p class="text">Once the above two conditions are satisfied, we proceed to the encryption. the
                encryption process is governed by 3 rules which are as follows:
            <ul style="padding-left: 130px; padding-right: 130px; ;">
                <li class="bullet">
                    If both elements of a digraph belong to a same row in the key matrix, their
                    corresponding encryption will be the element immediately to the right of
                    each element (wraps around as well).</li>
                <li class="bullet">If both elements of a digraph belong to a same column in the key matrix,
                    their corresponding encryption will be the element immediately below
                    each element (wraps around as well).</li>
                <li class="bullet">Else, the two elements will form the diagonally opposite corners of a
                    rectangle. Then their encryption will be the elements in other two corners,
                    taken horizontally.</li>
            </ul>
            Tada, now you can share homework without anyone knowing
            Decryption will be exact opposite of this.</p>

        <br>
        
        </div>

        <div class="fifth">Powered by Slutty Pegions</div>
    </div>






</body>

</html>